{% macro viewField(title, value) %}
    <div class="row">
        <div class="col-md-6">{{ title|trans }}</div>
        <div class="col-md-6 bordered">
            {% if value %}
                {{ value }}
            {% else %}
                <span class="opacity-text">no</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro viewDate(title, value) %}
    {% set value = (value) ? value|date(date_format) : null %}

    {{ (title) ? _self.viewField(title, value) : value }}
{% endmacro %}

{% macro viewLinkField(title, value, url, target, additionalAttributes, grant = null) %}
    {% if grant and is_granted(grant) %}
        {% set value %}
            <a{% if url %} href="{{ url }}"{% endif %}{% if target %} target="{{ target }}"{% endif %}{% if additionalAttributes %} {{ additionalAttributes|raw }}{% endif %}>
                {{ value }}
            </a>
        {% endset %}
    {% endif %}

    {{ _self.viewField(title, value) }}
{% endmacro %}
