.flash-messages {
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 1051;
    width: 30%;
    padding: 20px 10px 10px 10px;
    display: none;
    background: #748188;
}

.flash-messages .flash {
    margin: 2px;
    padding: 5px;
}

.flash-messages .close {
    position: absolute;
    z-index: 1053;
    right: 7px;
    top: 0;
}